body {
    background-color: #333;
}

#about-title {
    color: white;
    font-size: 35px;
    position: absolute;
    top: 50px;
    right: 682.5px;
    z-index: 1;
    margin: 0;
    text-align: center;
}

#about-box {
    background-color: #222;
    z-index: -1;
    position: absolute;
    top: 50px;
    right: 682.5px;
    height: 45px;
    width: 152px;
    border: #222 solid 1px;
    border-radius: 5%;
}

#info {
    color: white;
    font-size: 25px;
    z-index: 1;
    position: absolute;
    top: 200px;
    right: 500px;
    background-position: center;
    text-align: right;
}

#info-box {
    background-color: #222;
    z-index: -1;
    position: absolute;
    right: 0px;
    top: 200px;
    height: 202px;
    width: 1160px;
    border: #222 1px solid;
}

#socials {
    position: absolute;
    bottom: 15px;
    right: 682.5px;
    margin: 0;
    z-index: 1;
}

#socials-box {
    background-color: #222;
    position: absolute;
    bottom: 0px;
    right: 0;
    height: 50px;
    width: 1370px;
    border: #222 solid 1px;
    border-radius: 5%;
    z-index: -1;
}

#languages-title {
    color: white;
    font-size: 30px;
    position: absolute;
    left: 30px;
    margin: 30px;
}

#languages-image {
    z-index: 1;
    position: absolute;
    left: 0px;
}

#languages-box {
    background-color: #222;
    border: #222 1px solid;
    border-radius: 5%;
    z-index: -1;
    position: absolute;
    left: 0px;
}