body {
    background-color: #111;
}

#more-info {
    font-size: 50px;
    color: white;
    border: 2px white solid;
    display: inline;
    position: absolute;
    left: 102px;
    bottom: 50px;
    animation-name: color;
    animation-iteration-count: infinite;
    animation-play-state: paused;
    animation-duration: 2s;
}

.about-intro {
    color: white;
    font-size: 60px;
    position: absolute;
    left: 100px;
    top: 190px;
}

#name {
    color: red;
    font-size: 51px;
}

#more-info:hover {
    animation-play-state: running;
}

@keyframes color {
    0% {color: white;}
    25% {color: gray;}
    50% {color: black;}
    75% {color: grey;}
    100% {color: white}
}